header{
    border-radius: 25px;
    color: black; 
    border: 25px solid rgb(142, 140, 144);
    background-color: yellow;
    padding: 50px;
    margin: 10px;
    width: 1000px;
    height: 100px;
}
h1 {
    color: Blue; 
    font-family: verdana;
    font-style: normal;
    font-size: 300%;
}
h2 {
    color: black; 
    background-color: rgb(214, 211, 211);
    font-family: verdana;
    font-style: italic;
    font-size: 200%;
}
h3 {
    color: black; 
    background-color: rgb(214, 211, 211);
    font-family: verdana;
    font-style: oblique;
    font-size: 150%;
}

section.type-one {
    border-radius: 25px;
    color: black; 
    border: 5px solid rgb(142, 140, 144);
    background-color: rgb(214, 211, 211);
    padding: 50px;
    margin: 10px;
    width: 500px;
    height: 150px;
}

section.type-two {
    border-radius: 25px;
    color: white; 
    border: 5px solid rgb(142, 140, 144);
    background-color: green;
    padding: 50px;
    margin: 10px;
    width: 700px;
    height: 200px;
}

section.type-three {
    border-radius: 25px;
    color: white; 
    border: 5px solid rgb(142, 140, 144);
    background-color: blue;
    padding: 50px;
    margin: 10px;
    width: 250px;
    height: 700px;
}

ol{
    font-family: arial;
    font-weight: bold;
}
footer{
    color: white; 
    background-color: black;
    font-family: verdana;
    font-style: normal;
    font-size: 70%;

}
